<nav class="navbar navbar-default navbar-light bg-light">
  <div class="container">
    <div id="navbar" class="border bg-light-subtle navbar-collapse rounded">
      <ul class="nav navbar-nav d-flex flex-row justify-content-evenly">
        <li>
          <a class="active nav-item nav-link" routerLink="/home">Home </a>
        </li>
        <li><a class="nav-item nav-link" routerLink="/members">Members</a></li>
    
        <li><a class="nav-item nav-link" routerLink="/photos">Photos</a></li>
        <li><a class="nav-item nav-link" routerLink="/profile">Profile</a></li>
      </ul>
    </div>
  </div>
</nav>
