


<nav class="navbar navbar-expand-lg navbar-light bg-light top-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://www.shutterstock.com/image-vector/lets-talk-sign-banner-business-260nw-1942604878.jpg" class="logo rounded " style="height:2rem" alt="" /> </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
      
      <form class="d-flex gap-2">
        
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail3"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword3">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword3"
          placeholder="Password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button><br />

    
      </form>
    </div>
  </div>
</nav>





