<header>
  <nav id="navbar-pinterest">
    <a href="https://www.pinterest.com"
      ><img
        id="pinterest-icon"
        src="https://pngimg.com/uploads/pinterest/pinterest_PNG63.png"
        alt="Logo de Pinterest"
        width="30px"
    /></a>

    <a class="menu" href="#">Create</a>
    <input class="finder" type="text" placeholder="Search" />
    <div id="notifications">
      <img
        src="https://cdn-icons-png.flaticon.com/512/60/60753.png"
        alt="Icono notificaciones"
        width="25"
      />
    </div>
    <div id="message">
      <img
        src="https://cdn-icons-png.flaticon.com/512/8444/8444483.png"
        alt="Icono Mensajes"
        width="25"
      />
    </div>
    <div id="profile-img">
      <img
        src="https://cdn-icons-png.flaticon.com/512/666/666201.png"
        alt="Foto de perfil"
        width="25"
      />
    </div>
    <div id="desplegable">
      <img
        src="https://cdn-icons-png.flaticon.com/512/656/656979.png"
        alt="Foto de perfil"
        width="25"
      />
    </div>
  </nav>
</header>
