header {
    display: flex;
    height: 70px;
    width: 100vw;
    justify-content: space-between;
    /* border: solid red 1px; */

}
#navbar-pinterest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* border: solid red 1px; */
    width: 100%
}

.menu {
    margin: 1em;
    text-decoration: none;
    font-weight: 600;
    font-size: small;
}

#pinterest-icon {
    display: flex;
    align-items: center;
}


.finder {
    width: 1380px;
    height: 100%;
    margin: 1em;
    border: 0;
    border-radius: 2em;
    background-color: rgba(33, 25, 34,10%);
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-left: 0.5em;
}

#notifications, #message, #profile-img, #desplegable {
    margin: 0.5em;
}

@media screen and (max-width: 480px) {
     nav{
        width: 480px;
    }
}
