<!--HOME SECTION -->
<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner container">
      <div class="row">
        <div class="col-lg-12 d-none d-lg-block text-white">
          <h1 class="display-4">
            Talky Social Network <strong>Connect</strong> with
            <strong>poeple of same mind</strong>
          </h1>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <p class="p-4 align-self-end">establish relationships</p>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <p class="p-4 align-self-end">build trust</p>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <p class="p-4 align-self-end">
              garner a following of loyal and dedicated friends
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- EXPLORE HEAD -->
<section id="explore-head-section">
  <div class="container">
    <div class="row">
      <div class="col text-center py-5">
        <h2 class="display-4">Explore</h2>
        <p class="lead">
          Introducing Talky, the vibrant social network that transcends borders!
          Connect with users globally through our dynamic platform designed to
          foster meaningful conversations. With a user-friendly interface, Talky
          empowers you to engage in lively discussions, share ideas, and broaden
          your horizons – because every voice matters in our diverse online
          community.
        </p>
        <a href="" class="btn btn-outline-light">Saiba mais</a>
      </div>
    </div>
  </div>
</section>
<!-- EXPLORE SECTION -->
<section id="explore-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="../../assets/img/explore-section1.jpg"
          class="img-fluid mb-3 rounded-circle"
        />
      </div>
      <div class="col-md-6">
        <h3>Explore and connect</h3>
        <p>Get accquinted with most diverse and dynamic community.</p>
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end">
            <p>
              Get the best of the physical world with a spice of the internet
            </p>
          </div>
        </div>
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end">
            <p>
              You will never be late to get the right friends and add them to
              your life.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CREATE HEAD -->
<section id="create-head-section" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col text-center py-5">
        <h2 class="display-4">Create</h2>
        <p class="lead">
          Unleash your creativity with Talky's innovative Create section!
          Whether you're a seasoned content creator or just starting, our
          platform provides the tools to craft compelling posts, share
          captivating stories, and showcase your unique perspective. Elevate
          your online presence by seamlessly uploading photos, videos, and more,
          and let Talky be the canvas for your digital expression. Join us in
          shaping the conversation – one creation at a time..
        </p>
        <a routerLink="/register" class="btn btn-outline-light"
          >Register to start</a
        >
      </div>
    </div>
  </div>
</section>
<!-- CREATE SECTION -->
<section id="create-section" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-2">
        <img
          src="../../assets/img/create-section1.jpg"
          class="img-fluid mb-3 rounded-circle"
        />
      </div>
      <div class="col-md-6 order-1">
        <h3>Create your passion</h3>
        <p>
          Ignite your passion on Talky's dedicated "Create Your Passion"
          section! Whether you're into coding, design, or any other pursuit,
          share your expertise with a community that values your unique talents.
          Showcase your projects, discuss the latest trends, and connect with
          like-minded individuals who share your enthusiasm. Elevate your
          passion to new heights on Talky, where every skill and interest finds
          its perfect space to flourish.
        </p>
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end">
            <p>its all about spreading love</p>
          </div>
        </div>
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end">
            <p>enjoy people of the same passion and nature</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SHARE HEAD -->
<section id="share-head-section" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col text-center py-5">
        <h2 class="display-4">Share</h2>
        <p class="lead">
          Share the highlights of your journey on Talky's Share section! From
          breathtaking snapshots to life-changing experiences, this space is
          designed for you to seamlessly share your world. Connect with friends
          and followers, spark discussions, and immerse yourself in the diverse
          tapestry of stories that make Talky a vibrant community. Start sharing
          and let your unique narrative unfold!
        </p>
        
      </div>
    </div>
  </div>
</section>
<!-- SHARE SECTION -->
<section id="share-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="../../assets/img/share-section1.jpg"
          class="img-fluid mb-3 rounded-circle"
        />
      </div>
      <div class="col-md-6">
        <h3>Share what you create</h3>
        <p>
          Share the moments that matter most on Talky's Share section! Whether
          it's a breathtaking travel adventure, a delicious culinary creation,
          or a tech breakthrough, our platform is your canvas for storytelling.
          Easily post and share photos, updates, and experiences with your
          friends and followers. Join Talky's vibrant sharing community and let
          your world come alive through the stories you tell.
        </p>
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end">
            <p>
              Express Yourself: In Talky's Share section, your voice is
              amplified. Craft compelling posts, share your thoughts, and let
              your personality shine. Whether it's a witty observation, a
              profound insight, or a simple joy, your contributions shape the
              narrative of our diverse community.
            </p>
          </div>
        </div>
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end">
            <p>
              Connect Globally: Share transcends borders on Talky. Connect with
              users worldwide by sharing your experiences, cultural insights,
              and unique perspectives. Explore a tapestry of stories from
              different corners of the globe and build meaningful connections
              through the power of shared moments.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
