.form-control {
  border-radius: 0px;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  font-size: 0.8em;
}

.form-control:focus {
  border-color: #ccc;
}

.custom-control.material-checkbox {
  --color: #26a69a;
}

.custom-control.material-checkbox .material-control-input {
  display: none;
}

.custom-control.material-checkbox
  .material-control-input:checked
  ~ .material-control-indicator {
  border-color: var(--color);
  transform: rotateZ(45deg) translate(1px, -5px);
  width: 10px;
  border-top: 0px solid #fff;
  border-left: 0px solid #fff;
}

.custom-control.material-checkbox .material-control-indicator {
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #aaa;
  transition: 0.3s;
}

.custom-control.fill-checkbox {
  --color: #26a69a;
}

.custom-control.fill-checkbox .fill-control-input {
  display: none;
}

.custom-control.fill-checkbox
  .fill-control-input:checked
  ~ .fill-control-indicator {
  background-color: var(--color);
  border-color: var(--color);
  background-size: 80%;
}

.custom-control.fill-checkbox .fill-control-indicator {
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #aaa;
  transition: 0.3s;
  background: transperent;
  background-size: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-control.overflow-checkbox .overflow-control-input {
  display: none;
}

.custom-control.overflow-checkbox
  .overflow-control-input:checked
  ~ .overflow-control-indicator::after {
  transform: rotateZ(45deg) scale(1);
  top: -6px;
  left: 5px;
}

.custom-control.overflow-checkbox
  .overflow-control-input:checked
  ~ .overflow-control-indicator::before {
  opacity: 1;
}

.custom-control.overflow-checkbox .overflow-control-indicator {
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #aaa;
}

.custom-control.overflow-checkbox .overflow-control-indicator::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  transition: 0.3s;
  transform: rotateZ(90deg) scale(0);
  width: 10px;
  border-bottom: 4px solid #aaa;
  border-right: 4px solid #aaa;
  border-radius: 3px;
  top: -2px;
  left: 2px;
}

.custom-control.overflow-checkbox .overflow-control-indicator::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  transition: 0.3s;
  width: 10px;
  border-right: 7px solid #fff;
  border-radius: 3px;
  transform: rotateZ(45deg) scale(1);
  top: -4px;
  left: 5px;
  opacity: 0;
}

.custom-control.material-switch {
  --color: #26a69a;
  padding-left: 0;
}

.custom-control.material-switch .material-switch-control-input {
  display: none;
}

.custom-control.material-switch
  .material-switch-control-input:checked
  ~ .material-switch-control-indicator::after {
  background-color: var(--color);
  left: 17px;
}

.custom-control.material-switch .material-switch-control-indicator {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  top: 4px;
  width: 32px;
  height: 16px;
  background: #ddd;
  border-radius: 16px;
  transition: 0.3s;
}

.custom-control.material-switch .material-switch-control-indicator::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: 0.3s;
  top: -1px;
  left: -1px;
  background: #fdfdfd;
  box-shadow: 0 2px 10px #aaa;
}

.custom-control.ios-switch {
  --color: #007bff;
  padding-left: 0;
}

.custom-control.ios-switch .ios-switch-control-input {
  display: none;
}

.custom-control.ios-switch
  .ios-switch-control-input:active
  ~ .ios-switch-control-indicator::after {
  width: 20px;
}

.custom-control.ios-switch
  .ios-switch-control-input:checked
  ~ .ios-switch-control-indicator {
  border: 10px solid var(--color);
}

.custom-control.ios-switch
  .ios-switch-control-input:checked
  ~ .ios-switch-control-indicator::after {
  top: -8px;
  left: 4px;
}

.custom-control.ios-switch
  .ios-switch-control-input:checked:active
  ~ .ios-switch-control-indicator::after {
  left: 0px;
}

.custom-control.ios-switch .ios-switch-control-indicator {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  top: 4px;
  width: 32px;
  height: 20px;
  background: #fff;
  border-radius: 16px;
  transition: 0.3s;
  border: 2px solid #ddd;
}

.custom-control.ios-switch .ios-switch-control-indicator::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  transition: 0.3s;
  top: 0px;
  left: 0px;
  background: #fff;
  box-shadow: 0 0 2px #aaa, 0 2px 5px #999;
}

.custom-control.border-switch {
  --color: #4cd964;
  padding-left: 0;
}

.custom-control.border-switch .border-switch-control-input {
  display: none;
}

.custom-control.border-switch
  .border-switch-control-input:checked
  ~ .border-switch-control-indicator {
  border-color: var(--color);
}

.custom-control.border-switch
  .border-switch-control-input:checked
  ~ .border-switch-control-indicator::after {
  left: 14px;
  background-color: var(--color);
}

.custom-control.border-switch .border-switch-control-indicator {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  top: 4px;
  width: 32px;
  height: 20px;
  background: #fff;
  border-radius: 16px;
  transition: 0.3s;
  border: 2px solid #ccc;
}

.custom-control.border-switch .border-switch-control-indicator::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: 0.3s;
  top: 2px;
  left: 2px;
  background: #ccc;
}

.custom-control.teleport-switch {
  --color: #4cd964;
  padding-left: 0;
}

.custom-control.teleport-switch .teleport-switch-control-input {
  display: none;
}

.custom-control.teleport-switch
  .teleport-switch-control-input:checked
  ~ .teleport-switch-control-indicator {
  border-color: var(--color);
}

.custom-control.teleport-switch
  .teleport-switch-control-input:checked
  ~ .teleport-switch-control-indicator::after {
  left: -14px;
}

.custom-control.teleport-switch
  .teleport-switch-control-input:checked
  ~ .teleport-switch-control-indicator::before {
  right: 2px;
  background-color: var(--color);
}

.custom-control.teleport-switch .teleport-switch-control-indicator {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  top: 4px;
  width: 32px;
  height: 20px;
  background: #fff;
  border-radius: 16px;
  transition: 0.3s;
  border: 2px solid #ccc;
  overflow: hidden;
}

.custom-control.teleport-switch .teleport-switch-control-indicator::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: 0.3s;
  top: 2px;
  left: 2px;
  background: #ccc;
}

.custom-control.teleport-switch .teleport-switch-control-indicator::before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: 0.3s;
  top: 2px;
  right: -14px;
  background: #ccc;
}

.list-group:first-child .list-group-control:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group::last-child .list-group-control:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.list-group.list-group-flush:last-child .list-group-control:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.list-group.list-group-flush:first-child .list-group-control:first-child {
  border-top: 0;
}

.list-group.list-group-flush .list-group-control {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.list-group .list-group-control {
  position: relative;
  display: block;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group .list-group-control .custom-control {
  margin: 0;
  padding: 0.75rem 1.25rem;
  padding-left: 3rem;
  display: block;
}

.list-group .list-group-control .custom-control .custom-control-indicator,
.list-group .list-group-control .custom-control .material-control-indicator,
.list-group .list-group-control .custom-control .fill-control-indicator,
.list-group .list-group-control .custom-control .overflow-control-indicator {
  top: 1rem;
  left: 1.25rem;
}

.w-shadow {
  -webkit-box-shadow: 5px 30px 26px -20px #b6b6b6;
  -moz-box-shadow: 5px 30px 26px -20px #b6b6b6;
  box-shadow: 5px 30px 26px -20px #b6b6b6;
}

.dropdown-shadow {
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);
}

/* END Shadow */

/*-------------------------------------------*\
 --- DROPDOWN ---
\*-------------------------------------------*/

/* Notification & Message dropdown */
.dropdown-menu.notify-drop.show {
  min-width: 330px;
  background-color: #fff;
  min-height: 375px;
  max-height: 375px;
  border-radius: 20px;
  border-color: #e8e8e8;
}

.search-form .dropdown-menu.notify-drop.show {
  min-width: 400px !important;
}

.search-form .dropdown-menu.notify-drop .dropdown-header {
  padding: 0.5rem 1rem;
  color: #000;
}

.dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e8e8e8;
  padding: 5px 15px 10px 15px;
}

.dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: auto;
}

.dropdown-menu.notify-drop .drop-content > li {
  padding: 10px 0px 5px 0px;
}

.dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}

.dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}

.dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}

.dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}

.dropdown-menu.notify-drop .drop-content > li .notify-img img {
  width: 40px;
  border-radius: 50%;
}

.dropdown-menu.notify-drop .notify-right-icon {
  float: right;
  color: #999;
}

.dropdown-menu.notify-drop .notify-right-icon:hover {
  color: #333;
}

.dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}

.dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e8e8e8;
}

.dropdown-menu.notify-drop .drop-content .pd-l0 {
  min-width: 100%;
  padding-left: 0;
  padding-right: 5px;
}

.dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}

.dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e8e8e8;
  bottom: 0;
  position: relative;
  padding: 1rem;
}

.dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}

.dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}

.notification-user {
  color: #000 !important;
  font-weight: 500 !important;
}
/* END Dropdown */

/*-------------------------------------------*\
 --- MODAL ---
\*-------------------------------------------*/

/* New conversation modal */
.new-msg-header {
  background-color: #fdfdfd;
  border-color: #fdfdfd;
}

.new-msg-form input,
.new-msg-form textarea {
  background-color: #f5f5f5;
}

.new-msg-form input:focus,
.new-msg-form textarea:focus {
  background-color: #f5f5f5;
}

.new-msg-form textarea {
  resize: none;
}

.new-msg-footer {
  border: 0;
}

/* END New conversation modal  */

/*-------------------------------------------*\
 --- REACTIONS ---
\*-------------------------------------------*/

.argon-reaction {
  display: inline-block;
}

.like-btn {
  position: relative;
}

.like-btn-emo {
  display: inline-block;
  margin: 0 6px -3px 0;
  width: 16px;
  height: 16px;
}

.reactions-box {
  height: 44px;
  width: 240px;
  padding: 10px;
  position: absolute;
  top: -53px;
  left: 0px;
  background-color: #fff;
  border-radius: 44px 44px;
  display: none;
}

.reaction {
  list-style-type: none;
  cursor: pointer;
  display: inline-block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 8px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 1s, transform 0.07s ease-in-out 0s,
    top 0.07s ease-in-out 0s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.like-btn:hover .reactions-box {
  display: block;
}

.reaction-like {
  left: 10px;
  transition-delay: 0s;
  background-image: url("../../../assets/images/icons/reactions/like.gif");
}

.reaction-love {
  left: 48px;
  transition-delay: 0.05s;
  background-image: url("../../../assets/images/icons/reactions/love.gif");
}

.reaction-haha {
  left: 86px;
  transition-delay: 0.1s;
  background-image: url("../../../assets/images/icons/reactions/haha.gif");
}

.reaction-wow {
  left: 124px;
  transition-delay: 0.15s;
  background-image: url("../../../assets/images/icons/reactions/wow.gif");
}

.reaction-sad {
  left: 162px;
  transition-delay: 0.2s;
  background-image: url("../../../assets/images/icons/reactions/sad.gif");
}

.reaction-angry {
  left: 200px;
  transition-delay: 0.25s;
  background-image: url("../../../assets/images/icons/reactions/angry.gif");
}

.like-btn:hover .reaction {
  opacity: 1;
  animation-name: reaction_delay;
  animation-duration: 0.5s;
}

@keyframes reaction_delay {
  0% {
    width: 48px;
    height: 48px;
    top: 60px;
  }

  48% {
    width: 56px;
    height: 56px;
    top: 5px;
  }

  100% {
    width: 48px;
    height: 48px;
    top: 8px;
  }
}

.like-btn:hover .reaction-like {
  animation-delay: 0s;
}

.like-btn:hover .reaction-love {
  animation-delay: 0.05s;
}

.like-btn:hover .reaction-haha {
  animation-delay: 0.1s;
}

.like-btn:hover .reaction-wow {
  animation-delay: 0.15s;
}

.like-btn:hover .reaction-sad {
  animation-delay: 0.2s;
}

.like-btn:hover .reaction-angry {
  animation-delay: 0.25s;
}

.reaction:hover {
  transform: scale(1.3, 1.3);
  top: 2px;
}

.reaction::before {
  color: #fff;
  text-align: center;
  line-height: 17px;
  font-size: 0.7em;
  width: 100%;
  font-size: 0.5rem;
  height: 17px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  position: absolute;
  top: -25px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0s;
}

.reaction:hover::before {
  opacity: 1;
}

.reaction-like::before {
  content: "Like";
}

.reaction-love::before {
  content: "Love";
}

.reaction-haha::before {
  content: "Haha";
}

.reaction-wow::before {
  content: "Wow";
}

.reaction-sad::before {
  content: "Sad";
}

.reaction-angry::before {
  content: "Angry";
}

.like-btn-like {
  background-image: url("../../../assets/images/icons/reactions/reaction-small.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -17px -151px;
}

.like-btn-love {
  background-image: url("../../../assets/images/icons/reactions/reaction-small.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -168px;
}

.like-btn-haha {
  background-image: url("../../../assets/images/icons/reactions/reaction-small.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -151px;
}

.like-btn-wow {
  background-image: url("../../../assets/images/icons/reactions/reaction-small.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -17px -185px;
}

.like-btn-sad {
  background-image: url("../../../assets/images/icons/reactions/reaction-small.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -17px -168px;
}

.like-btn-angry {
  background-image: url("../../../assets/images/icons/reactions/reaction-small.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -17px -117px;
}

.like-btn-text-like {
  color: rgb(88, 144, 255);
}

.like-btn-text-wow,
.like-btn-text-haha,
.like-btn-text-sad {
  color: rgb(240, 186, 21);
}

.like-btn-text-love {
  color: rgb(242, 82, 104);
}

.like-btn-text-angry {
  color: rgb(247, 113, 75);
}

.ht-100v {
  height: 100vh;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.auth-bg-image {
  background: url(../../../assets/images/background/auth-bg.png) no-repeat;
  background-size: cover;
}

.auth-left-content,
.signup-form {
  width: 500px;
}

.weather-small .current-weather {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.weather-city {
  font-size: 1.4rem;
  letter-spacing: 5px;
}

.create-account {
  font-size: 3rem;
}

.auth-quick-links a {
  border-radius: 30px;
  padding: 0.5rem 5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.sign-up {
  border-radius: 30px;
  padding: 0.5rem 2rem;
}

.auth-logo {
  width: 80%;
  margin: 0 auto;
}

.auth-logo p {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.auth-logo span {
  text-align: left;
}

.auth-logo span.break-line {
  font-size: 1rem;
  color: #868ba1;
}

.agree-privacy {
  font-size: 0.8rem;
  font-weight: 700;
  color: #868ba1;
}

.go-login {
  vertical-align: -webkit-baseline-middle;
}

.remember-checkbox {
  margin-bottom: 0px;
  padding-top: 0.5rem;
}

.fingerprint-modal .modal-body {
  padding: 5rem 4rem;
}

.fingerprint-modal .modal-body img {
  width: 30%;
  margin-top: 4rem;
  border-radius: 50%;
  padding: 1rem;
  border: 3px solid #00b2e8;
}

@media (max-width: 998px) {
  form {
    width: 90%;
    margin: 0px auto;
  }
}

@media (max-width: 768px) {
  form {
    width: 100%;
  }

  .auth-logo {
    margin-top: 3rem;
  }
}
