<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Wall</h3>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <textarea
                  class="form-control"
                  placeholder="Write on the wall"
                ></textarea>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
              <div class="pull-right">
                <div class="btn-toolbar">
                  <button type="button" class="btn btn-default">
                    <i class="fa fa-pencil"></i>Text
                  </button>
                  <button type="button" class="btn btn-default">
                    <i class="fa fa-file-image-o"></i>Image
                  </button>
                  <button type="button" class="btn btn-default">
                    <i class="fa fa-file-video-o"></i>Video
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="panel panel-default post">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-2">
                <a href="profile.html" class="post-avatar thumbnail"
                  ><img
                    style="width: 100px"
                    src="../../assets/img/user.png"
                    alt=""
                  />
                  <div class="text-center">DevUser1</div></a
                >
                <div class="likes text-center">7 Likes</div>
              </div>
              <div class="col-sm-10">
                <div class="bubble w-100">
                  <div class="pointer">
                    <p>
                      Hey I was wondering if you wanted to go check out the
                      football game later. I heard they are supposed to be
                      really good!
                    </p>
                  </div>
                  <div class="pointer-border"></div>
                </div>
                <p class="post-actions">
                  <a href="#">Comment</a> -
                  <a [ngbPopover]="'👍 Liked!'"
                    ><i class="fa-regular fa-thumbs-up"></i
                  ></a>
                  - <a href="#">Follow</a>
                </p>
                <div class="comment-form">
                  <form class="form-inline">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="enter comment"
                      />
                    </div>
                    <button type="submit" class="btn btn-default btn-success my-2">
                      Add comment
                    </button>
                  </form>
                </div>
                <div class="clearfix"></div>

                <div class="comments">
                  <div class="row">
                    <div class="col">
                      <div class="d-flex flex-start">
                        <img
                          class="rounded-circle shadow-1-strong me-3"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                          alt="avatar"
                          width="65"
                          height="65"
                        />
                        <div class="flex-grow-1 flex-shrink-1">
                          <div>
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <p class="mb-1">
                                Maria Smantha
                                <span class="small">- 2 hours ago</span>
                              </p>
                              <a href="#!"
                                ><i class="fas fa-reply fa-xs"></i
                                ><span class="small"> reply</span></a
                              >
                            </div>
                            <p class="small mb-0">
                              It is a long established fact that a reader will
                              be distracted by the readable content of a page.
                            </p>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    Simona Disa
                                    <span class="small">- 3 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  letters, as opposed to using 'Content here,
                                  content here', making it look like readable
                                  English.
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    John Smith
                                    <span class="small">- 4 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  the majority have suffered alteration in some
                                  form, by injected humour, or randomised words.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="d-flex flex-start mt-4">
                        <img
                          class="rounded-circle shadow-1-strong me-3"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(12).webp"
                          alt="avatar"
                          width="65"
                          height="65"
                        />
                        <div class="flex-grow-1 flex-shrink-1">
                          <div>
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <p class="mb-1">
                                Natalie Smith
                                <span class="small">- 2 hours ago</span>
                              </p>
                              <a href="#!"
                                ><i class="fas fa-reply fa-xs"></i
                                ><span class="small"> reply</span></a
                              >
                            </div>
                            <p class="small mb-0">
                              The standard chunk of Lorem Ipsum used since the
                              1500s is reproduced below for those interested.
                              Sections 1.10.32 and 1.10.33.
                            </p>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    Lisa Cudrow
                                    <span class="small">- 4 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  Cras sit amet nibh libero, in gravida nulla.
                                  Nulla vel metus scelerisque ante sollicitudin
                                  commodo. Cras purus odio, vestibulum in
                                  vulputate at, tempus viverra turpis.
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(29).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    Maggie McLoan
                                    <span class="small">- 5 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  a Latin professor at Hampden-Sydney College in
                                  Virginia, looked up one of the more obscure
                                  Latin words, consectetur
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    John Smith
                                    <span class="small">- 6 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  Autem, totam debitis suscipit saepe sapiente
                                  magnam officiis quaerat necessitatibus odio
                                  assumenda, perferendis quae iusto labore
                                  laboriosam minima numquam impedit quam
                                  dolorem!
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default post">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-2">
                <a href="profile.html" class="post-avatar thumbnail"
                  ><img
                    style="width: 100px"
                    src="../../assets/img/user.png"
                    alt=""
                  />
                  <div class="text-center">DevUser1</div></a
                >
                <div class="likes text-center">7 Likes</div>
              </div>
              <div class="col-sm-10">
                <div class="bubble w-100">
                  <div class="pointer">
                    <p>
                      Hey I was wondering if you wanted to go check out the
                      football game later. I heard they are supposed to be
                      really good!
                    </p>
                  </div>
                  <div class="pointer-border"></div>
                </div>
                <p class="post-actions">
                  <a href="#">Comment</a> -
                  <a [ngbPopover]="'👍 Liked!'"
                    ><i class="fa-regular fa-thumbs-up"></i
                  ></a>
                  - <a href="#">Follow</a>
                </p>
                <div class="comment-form">
                  <form class="form-inline">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="enter comment"
                      />
                    </div>
                    <button type="submit" class="btn btn-default btn-success my-2">
                      Add comment
                    </button>
                  </form>
                </div>
                <div class="clearfix"></div>

                <div class="comments">
                  <div class="row">
                    <div class="col">
                      <div class="d-flex flex-start">
                        <img
                          class="rounded-circle shadow-1-strong me-3"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                          alt="avatar"
                          width="65"
                          height="65"
                        />
                        <div class="flex-grow-1 flex-shrink-1">
                          <div>
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <p class="mb-1">
                                Maria Smantha
                                <span class="small">- 2 hours ago</span>
                              </p>
                              <a href="#!"
                                ><i class="fas fa-reply fa-xs"></i
                                ><span class="small"> reply</span></a
                              >
                            </div>
                            <p class="small mb-0">
                              It is a long established fact that a reader will
                              be distracted by the readable content of a page.
                            </p>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    Simona Disa
                                    <span class="small">- 3 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  letters, as opposed to using 'Content here,
                                  content here', making it look like readable
                                  English.
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    John Smith
                                    <span class="small">- 4 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  the majority have suffered alteration in some
                                  form, by injected humour, or randomised words.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="d-flex flex-start mt-4">
                        <img
                          class="rounded-circle shadow-1-strong me-3"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(12).webp"
                          alt="avatar"
                          width="65"
                          height="65"
                        />
                        <div class="flex-grow-1 flex-shrink-1">
                          <div>
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <p class="mb-1">
                                Natalie Smith
                                <span class="small">- 2 hours ago</span>
                              </p>
                              <a href="#!"
                                ><i class="fas fa-reply fa-xs"></i
                                ><span class="small"> reply</span></a
                              >
                            </div>
                            <p class="small mb-0">
                              The standard chunk of Lorem Ipsum used since the
                              1500s is reproduced below for those interested.
                              Sections 1.10.32 and 1.10.33.
                            </p>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    Lisa Cudrow
                                    <span class="small">- 4 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  Cras sit amet nibh libero, in gravida nulla.
                                  Nulla vel metus scelerisque ante sollicitudin
                                  commodo. Cras purus odio, vestibulum in
                                  vulputate at, tempus viverra turpis.
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(29).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    Maggie McLoan
                                    <span class="small">- 5 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  a Latin professor at Hampden-Sydney College in
                                  Virginia, looked up one of the more obscure
                                  Latin words, consectetur
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    John Smith
                                    <span class="small">- 6 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  Autem, totam debitis suscipit saepe sapiente
                                  magnam officiis quaerat necessitatibus odio
                                  assumenda, perferendis quae iusto labore
                                  laboriosam minima numquam impedit quam
                                  dolorem!
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default post">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-2">
                <a href="profile.html" class="post-avatar thumbnail"
                  ><img
                    style="width: 100px"
                    src="../../assets/img/user.png"
                    alt=""
                  />
                  <div class="text-center">DevUser1</div></a
                >
                <div class="likes text-center">7 Likes</div>
              </div>
              <div class="col-sm-10">
                <div class="bubble w-100">
                  <div class="pointer">
                    <p>
                      Hey I was wondering if you wanted to go check out the
                      football game later. I heard they are supposed to be
                      really good!
                    </p>
                  </div>
                  <div class="pointer-border"></div>
                </div>
                <p class="post-actions">
                  <a href="#">Comment</a> -
                  <a [ngbPopover]="'👍 Liked!'"
                    ><i class="fa-regular fa-thumbs-up"></i
                  ></a>
                  - <a href="#">Follow</a>
                </p>
                <div class="comment-form">
                  <form class="form-inline">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="enter comment"
                      />
                    </div>
                    <button type="submit" class="btn btn-default btn-success my-2">
                      Add comment
                    </button>
                  </form>
                </div>
                <div class="clearfix"></div>

                <div class="comments">
                  <div class="row">
                    <div class="col">
                      <div class="d-flex flex-start">
                        <img
                          class="rounded-circle shadow-1-strong me-3"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                          alt="avatar"
                          width="65"
                          height="65"
                        />
                        <div class="flex-grow-1 flex-shrink-1">
                          <div>
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <p class="mb-1">
                                Maria Smantha
                                <span class="small">- 2 hours ago</span>
                              </p>
                              <a href="#!"
                                ><i class="fas fa-reply fa-xs"></i
                                ><span class="small"> reply</span></a
                              >
                            </div>
                            <p class="small mb-0">
                              It is a long established fact that a reader will
                              be distracted by the readable content of a page.
                            </p>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    Simona Disa
                                    <span class="small">- 3 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  letters, as opposed to using 'Content here,
                                  content here', making it look like readable
                                  English.
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    John Smith
                                    <span class="small">- 4 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  the majority have suffered alteration in some
                                  form, by injected humour, or randomised words.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="d-flex flex-start mt-4">
                        <img
                          class="rounded-circle shadow-1-strong me-3"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(12).webp"
                          alt="avatar"
                          width="65"
                          height="65"
                        />
                        <div class="flex-grow-1 flex-shrink-1">
                          <div>
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <p class="mb-1">
                                Natalie Smith
                                <span class="small">- 2 hours ago</span>
                              </p>
                              <a href="#!"
                                ><i class="fas fa-reply fa-xs"></i
                                ><span class="small"> reply</span></a
                              >
                            </div>
                            <p class="small mb-0">
                              The standard chunk of Lorem Ipsum used since the
                              1500s is reproduced below for those interested.
                              Sections 1.10.32 and 1.10.33.
                            </p>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    Lisa Cudrow
                                    <span class="small">- 4 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  Cras sit amet nibh libero, in gravida nulla.
                                  Nulla vel metus scelerisque ante sollicitudin
                                  commodo. Cras purus odio, vestibulum in
                                  vulputate at, tempus viverra turpis.
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(29).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    Maggie McLoan
                                    <span class="small">- 5 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  a Latin professor at Hampden-Sydney College in
                                  Virginia, looked up one of the more obscure
                                  Latin words, consectetur
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    John Smith
                                    <span class="small">- 6 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  Autem, totam debitis suscipit saepe sapiente
                                  magnam officiis quaerat necessitatibus odio
                                  assumenda, perferendis quae iusto labore
                                  laboriosam minima numquam impedit quam
                                  dolorem!
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default friends">
          <div class="panel-heading">
            <h3 class="panel-title">My Friends</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
            </ul>
            <div class="clearfix"></div>
            <a class="btn btn-primary m-2" href="#">View All Friends</a>
          </div>
        </div>
        <div class="panel panel-default groups">
          <div class="panel-heading">
            <h3 class="panel-title">newest Members</h3>
          </div>
          <div class="panel-body">
            <div class="group-item">
              <img src="../../assets/img/group.png" alt="" />
              <h4><a href="#" class="">john doe One</a></h4>
              <p>
                This is a paragraph of intro text, or whatever I want to call
                it.
              </p>
            </div>
            <div class="clearfix"></div>
            <div class="group-item">
              <img src="../../assets/img/group.png" alt="" />
              <h4><a href="#" class="">john doe Two</a></h4>
              <p>
                This is a paragraph of intro text, or whatever I want to call
                it.
              </p>
            </div>
            <div class="clearfix"></div>
            <div class="group-item">
              <img src="../../assets/img/group.png" alt="" />
              <h4><a href="#" class="">john doe Three</a></h4>
              <p>
                This is a paragraph of intro text, or whatever I want to call
                it.
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
