<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="profile">
          <h1 class="page-header">Douglas Walter</h1>
          <div class="row">
            <div class="col-md-4">
              <img
                src="../../assets/img/user.png"
                class="img-thumbnail"
                alt=""
              />
            </div>
            <div class="col-md-8">
              <ul>
                <li><strong>Email:</strong>doug@gmail.com</li>
                <li><strong>Username:</strong>Boston</li>

                <button
                  type="button"
                  class="btn btn-outline-success"
                  (click)="open(content)"
                >
                  Edit Profile
                </button>
              </ul>
            </div>
          </div>
          <br /><br />
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Profile Wall</h3>
                </div>
                <div class="panel-body">
            <div class="input-group rounded m-2 w-50">
              <input
                type="search"
                class="form-control rounded"
                placeholder="Search"
                aria-label="Search"
                aria-describedby="search-addon"
              />
              <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
              </span>
            </div>
            <form>
              <div class="form-group">
                <!-- Display text area for text post -->
                <textarea
                  *ngIf="selectedPostType === 'text'"
                  class="form-control"
                  placeholder="Write on the wall"
                ></textarea>

                <!-- Display text area for image post -->
                <textarea
                  *ngIf="selectedPostType === 'image'"
                  class="form-control"
                  placeholder="Write a caption"
                ></textarea>
                <input
                  *ngIf="selectedPostType === 'image'"
                  type="text"
                  class="form-control mt-2"
                  placeholder="Image URL"
                />

                <!-- Display text area for video post -->
                <textarea
                  *ngIf="selectedPostType === 'video'"
                  class="form-control"
                  placeholder="Write a caption"
                ></textarea>
                <input
                  *ngIf="selectedPostType === 'video'"
                  type="text"
                  class="form-control mt-2"
                  placeholder="Video URL"
                />
              </div>

              <div class="post-options">
                <button
                  type="button"
                  class="btn btn-default"
                  (click)="selectedPostType = 'text'"
                >
                  <i class="fa fa-pencil"></i>Text
                </button>
                <button
                  type="button"
                  class="btn btn-default"
                  (click)="selectedPostType = 'image'"
                >
                  <i class="fa fa-file-image-o"></i>Image
                </button>
                <button
                  type="button"
                  class="btn btn-default"
                  (click)="selectedPostType = 'video'"
                >
                  <i class="fa fa-file-video-o"></i>Video
                </button>
              </div>

              <button
                type="button"
                class="btn btn-primary my-2"
                (click)="onSubmit()"
              >
                Submit
              </button>
            </form>
          </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default friends">
          <div class="panel-heading">
            <h3 class="panel-title">My Friends</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
              <li>
                <a href="profile.html" class="thumbnail"
                  ><img src="../../assets/img/user.png" alt=""
                /></a>
              </li>
            </ul>
            <div class="clearfix"></div>
            <a class="btn btn-primary m-2" href="#">View All Friends</a>
          </div>
        </div>
        <div class="panel panel-default groups">
          <div class="panel-heading">
            <h3 class="panel-title">newest Members</h3>
          </div>
          <div class="panel-body">
            <div class="group-item">
              <img src="../../assets/img/group.png" alt="" />
              <h4><a href="#" class="">john doe One</a></h4>
              <p>
                This is a paragraph of intro text, or whatever I want to call
                it.
              </p>
            </div>
            <div class="clearfix"></div>
            <div class="group-item">
              <img src="../../assets/img/group.png" alt="" />
              <h4><a href="#" class="">john doe Two</a></h4>
              <p>
                This is a paragraph of intro text, or whatever I want to call
                it.
              </p>
            </div>
            <div class="clearfix"></div>
            <div class="group-item">
              <img src="../../assets/img/group.png" alt="" />
              <h4><a href="#" class="">john doe Three</a></h4>
              <p>
                This is a paragraph of intro text, or whatever I want to call
                it.
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- off canvas for edit profile -->

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body">
    <form>
      <div class="form-outline mb-2">
        <label class="form-label" for="form3Example1cg">Username</label>
        <input
          type="text"
          id="form3Example1cg"
          class="form-control form-control-lg"
        />
      </div>

      <div class="form-outline mb-2">
        <label class="form-label" for="form3Example3cg">Your Email</label>
        <input
          type="email"
          id="form3Example3cg"
          class="form-control form-control-lg"
        />
      </div>
      <div class="form-outline mb-2">
        <label class="form-label" for="form4Example3cg">Image Link</label>
        <input
          type="text"
          id="form4Example3cg"
          class="form-control form-control-lg"
        />
      </div>

      <div class="d-flex justify-content-center text-white">
        <button
          type="button"
          class="btn btn-outline-success btn-block btn-lg gradient-custom-4 text-body"
          (click)="offcanvas.close('Save click')"
        >
          Save details
        </button>
      </div>
    </form>
  </div>
</ng-template>
<hr />
